/* shared things */
:root {
    --bg-color: #F5F8FF;
    --orange-color: #E95A08;
    --text-dark: rgba(0, 0, 0, 1);
    --text-light-dark: rgba(0, 0, 0, 0.5);
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}
header,
main {
    max-width: 1140px;
    margin: auto;
}
.center {
    text-align: center;
}
.flex {
    display: flex;
}

/* nav style */
nav {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    gap: 3rem;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: var(--text-light-dark);
}
#selected {
    font-weight: bold;
    color: var(--text-dark);
}

/* banner style */
.banner {
    margin-top: 120px;
    align-items: end;
    justify-content: space-between;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--text-dark);
}
.title-attract {
    color: var(--orange-color);
}
.subtitle {
    font-size: 1.375rem;
    color: var(--text-light-dark);
    margin-top: 13px;
    max-width: 530px;
}

/* plant section */
.plant-section {
    margin-bottom: 210px;
}
.our-plant {
    margin-top: 120px;
}
.our-plant h4 {
    font-size: 3.125rem;
}
.our-plant p {
    font-size: 1.375rem;
    color: var(--text-light-dark);
    margin: auto;
    margin-top: 16px;
    max-width: 888px;
}
.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}
.item {
    max-width: 270px;
}
.item img {
    width: 100%;
}
.item h4, .item h5 {
    text-align: center;
    line-height: 150%;
    font-size: 1.375rem;
}
.item h4 {
    font-weight: 400;
    margin-top: 30px;
}
.item h5 {
    font-weight: 800;
    margin-bottom: 30px;
}
.btn-primary {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--orange-color);
    color: white;
    font-weight: 700;
}
.btn-primary:hover {
    background-color: #cc5007;
}


@media screen and (max-width: 393px) {
    /* shared styles */
    .banner-content,
    .our-plant,
    .container {
        margin: 0 16px 0 16px;
    }

    /* nav style */
    .hide {
        display: none;
    }
    nav {
        margin: 13px 16px 28px 16px;
    }
    nav img {
        max-height: 40px;
    }

    /* banner style */
    .banner {
        flex-direction: column-reverse;
        margin-top: 28px;
    }
    .banner img {
        width: 100%;
    }
    .banner-title {
        font-size: 1.5rem;
        margin-top: 28px;
    }
    .subtitle,
    .our-plant p {
        font-size: 0.875rem;
    }

    /* plant section */
    .plant-section {
        margin-bottom: 40px;
    }
    .our-plant {
        margin-top: 65px;
    }
    .our-plant h4 {
        font-size: 1.5rem;
    }
    .our-plant p {
        max-width: 336px;
    }
    .container {
        margin-top: 28px;
        grid-template-columns: repeat(2, 1fr);
    }
    .item {
        max-width: 170px;
    }
    .item h4, .item h5{
        font-size: 1rem;
    }
}
