/* shared things */
:root {
    --bg-color: #F5F8FF;
    --orange-color: #E95A08;
    --text-dark: rgba(0, 0, 0, 1);
    --text-light-dark: rgba(0, 0, 0, 0.5);
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}
header,
main {
    max-width: 1140px;
    margin: auto;
}
.center {
    text-align: center;
}
.flex {
    display: flex;
}

/* nav style */
nav {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    gap: 3rem;
}

li{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-light-dark);
}
#selected {
    font-weight: bold;
    color: var(--text-dark);
}

/* banner style */
.banner {
    margin-top: 120px;
    align-items: end;
    justify-content: space-between;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--text-dark);
}
.title-attract {
    color: var(--orange-color);
}
.subtitle {
    font-size: 1.375rem;
    color: var(--text-light-dark);
    margin-top: 13px;
    max-width: 530px;
}

/* plant section */
.plant-section {
    margin-bottom: 210px;
}
.our-plant {
    margin-top: 120px;
}
.our-plant h4,
.plant-lover div h3 {
    font-size: 3.125rem;
}
.our-plant p {
    font-size: 1.375rem;
    color: var(--text-light-dark);
    margin: auto;
    margin-top: 16px;
    max-width: 888px;
}
.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}
.item {
    max-width: 270px;
}
.item img {
    width: 100%;
}
.item h4, .item h5 {
    text-align: center;
    line-height: 150%;
    font-size: 1.375rem;
}
.item h4 {
    font-weight: 400;
    margin-top: 30px;
}
.item h5 {
    font-weight: 800;
    margin-bottom: 30px;
}
.btn-primary {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--orange-color);
    color: white;
    font-weight: 700;
}
.btn-primary:hover {
    background-color: #cc5007;
}

/* plant lover section */
.plant-lover {
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 134px;
}
.plant-lover-images {
    position: relative;
}
.flower-store-img {
    max-width: 540px;
}
.trusted-img {
    position: absolute;
    max-width: 286px;
    top: -21%;
    right: -17%;
}
.plant-lover div ul li {
    list-style: disc;
    font-size: 1.375rem;
    color: var(--text-light-dark);
    margin-top: 20px;
    margin-left: 35px;
}

/* deal section */
.deal-section {
    margin-bottom: 120px;
}
.promo-section {
    margin-top: 120px;
}
.bloom {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/deal-bloom.png");
    grid-area: bloom;
}
.ana {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/deal-ana.png");
    grid-area: ana;
}
.zabo {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/deal-zabo.png");
    grid-area: zabo;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
    "bloom  zabo"
    "ana    zabo"
    ;
    row-gap: 25px;
    column-gap: 28px;
}
.grid-card {
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-card h3 {
    font-size: 1.25rem;
}

.btn-secondary {
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
    margin: 26px 50px;
    font-size: 1rem;
    font-weight: 600;
}

.zabo h3 {
    font-size: 2.5rem;
}
.zabo a {
    font-size: 1.75rem;
}

/* join section */
.join {
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    padding: 199px 305px 193px 305px;
}

.join h3 {
    font-size: 3.125rem;
    margin-bottom: 23px;
}

.join form {
    width: 830px;
    height: 50px;
    display: flex;
}

.join form input {
    flex: 3;
    border: none;
    outline: none;
    padding-left: 20px;
}

.join form input::placeholder {
    color: var(--text-light-dark);
}

.join form button {
    flex: 1;
}

/* footer section */
.footer {
    margin: auto;
    padding: 50px 160px;
    justify-content: space-between;
}

.linksA,
.linksB {
    flex-direction: column;
    gap: 32px;
}
.icons img {
    margin-right: 24px;
}
.twitter {
    transform: translate(0, -40%);
}


@media screen and (max-width: 393px) {
    /* shared styles */
    .banner-content,
    .our-plant,
    .container,
    .plant-lover,
    .promo-section {
        margin: 0 16px 0 16px;
    }

    /* nav style */
    .hide {
        display: none;
    }
    nav {
        margin: 13px 16px 28px 16px;
    }
    nav img {
        max-height: 40px;
    }

    /* banner style */
    .banner {
        flex-direction: column-reverse;
        margin-top: 28px;
    }
    .banner img {
        width: 100%;
    }
    .banner-title {
        font-size: 1.5rem;
        margin-top: 28px;
    }
    .subtitle,
    .our-plant p,
    .plant-lover div ul li {
        font-size: 0.875rem;
    }

    /* plant section */
    .plant-section {
        margin-bottom: 40px;
    }
    .our-plant {
        margin-top: 65px;
    }
    .our-plant h4,
    .plant-lover div h3 {
        font-size: 1.5rem;
    }
    .our-plant p {
        max-width: 336px;
    }
    .container {
        margin-top: 28px;
        grid-template-columns: repeat(2, 1fr);
    }
    .item {
        max-width: 170px;
    }
    .item h4, .item h5{
        font-size: 1rem;
    }

    /* plant-lover section */
    .plant-lover {
        flex-direction: column;
        gap: 18px;
        margin-bottom: 143px;
    }
    .flower-store-img {
        width: 100%;
    }
    .plant-lover div ul li {
        margin-top: 16px;
        margin-left: 22px;
    }
    .trusted-img {
        display: none;
    }

    /* deal section */
    .deal-section {
        margin-bottom: 40px;
    }
    .promo-section {
        margin-top: 51px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 200px);
        grid-template-areas:
        "bloom"
        "ana"
        "zabo"
        ;
        gap: 20px;
    }
    .grid-card h3 {
        font-size: 1.25rem;
    }
    .grid-card a {
        font-size: 1rem;
    }

    /* join section */
    .join {
        padding: 110px 36px 64px 36px;
    }
    .join h3 {
        font-size: 1.25rem;
    }
    .join form {
        width: 321px;
        height: 50px
    }

    /* footer section */
    .footer {
        flex-direction: column;
        gap: 20px;
        padding: 50px 16px;
    }
    .footer-content {
        font-size: 1rem;
    }
}
